.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7a4d7c;
    height: 4.5rem;
    padding: 0 2rem;
  }
  
  .navbar-section {
    display: flex;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    cursor: pointer;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  